%h1 La suite?
%p Sur le chemin de "Search" Mr El'Goog ne vous donnera pas toujours ce que vous espériez, il est riche d'années d'expériences et de connaissances mais peut parfois être aussi conpréhenssif qu'un feu rouge...
=link_to "Etape trois", third_path