%h1 Bravo vous avez réussi les premières étape!
%p  Sur le chemin de Search vous avez certainement fait connaissance avec Mr ElGoog il est charmant, plein de piment, bien    heureusement car il doit devenir votre ami... Tachez donc d\être clair et précis avec lui...
%p PS: Sa pièce de théatre préfèré est Antoine et Cléopâtre...
=link_to"Etape_deux", second_path
