%h1 On avance encore...
%p Sur le chemin de "Search" et notre rencontre avec Mr El'Goog vous en avez appris un peu plus sur Rub Ydris mais Mr El'Goog vous permettra de faire connaissance avec Paul-Henry Pitchpi ou encore Jean Van'Script...
Rub Ydris vous réserve encore bien des surprises..."
=link_to"etape quatre", fourth_path
