%h1 Point de répis dans notre aventure...
%p Sur la dernière marche du chemin de "Search" ne vous contentez pas de répondre bêtement, pensez aussi à faire connaissance avec les subtilités de Rub Ydris... L'une d'entre elles se nomme HAML...
=link_to "Ne vous contentez pas du minimum...", sixth_path